* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --primary: #128c7e;
  --primary-dark: #0f7165;
  --primary-light: rgba(18, 140, 126, 0.08);
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

body {
  font-family: "Plus Jakarta";
}

@font-face {
  font-family: "Plus Jakarta";
  src: url("../public/assets/fonts/plusjakarta.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("../public/assets/fonts/roboto.ttf");
}

input:focus {
  outline: none;
}
